// Mixins
// -----------------
// .transition(@transition) {
//   -webkit-transition: @transition;
//   -o-transition: @transition;
//   transition: @transition;
// }

.roster-modal {
  position: absolute;
  top: 10%;
  left: 5%;
  background-color: #fff;
  width: 90%;
  color: black;
  z-index: 10;
  border-radius: 5px;
  font-family: var(--font_main);

  #close-container {
    width: 100%;

    #roster-close-button {
      border: none;
      float: right;
      background: none;
      font-size: 20px;
      color: blue;
      padding: 10px;
    }
  }
  

  .roster-title {
    text-align: center;
    margin: 10px;
    font-size: 25px;
    font-family: var(--font_main);
  }

  .roster-line {
    width: 80%;
    margin: 1em auto;
    border: 2px solid var(--grey);
  }

  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    background-color: #fff;
    > thead,
    > tbody,
    > tfoot {
      > tr {
        // .transition(all 0.3s ease);
        > th,
        > td {
          text-align: left;
          padding: 1.6rem;
          vertical-align: top;
          border-top: 0;
          // .transition(all 0.3s ease);
        }
      }
    }
    > thead > tr > th {
      font-weight: 400;
      color: #757575;
      vertical-align: bottom;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
      > tr:first-child {
        > th,
        > td {
          border-top: 0;
        }
      }
    }
    > tbody + tbody {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
    // Nesting
    .table {
      background-color: #fff;
    }
    // Remove border
    .no-border {
      border: 0;
    }
  }
  
}

// Material Design shadows
//
.shadow-z-1 {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}