.roster-modal {
  position: absolute;
  top: 10%;
  left: 5%;
  background-color: #fff;
  width: 90%;
  color: black;
  z-index: 10;
  border-radius: 5px;
  font-family: var(--font_main);
  overflow: auto;

  #close-container {
    width: 100%;

    #roster-close-button {
      border: none;
      float: right;
      background: none;
      font-size: 20px;
      color: blue;
      padding: 10px;
    }
  }
  

  .roster-title {
    text-align: center;
    margin: 10px;
    font-size: 25px;
    font-family: var(--font_main);
  }

  .roster-line {
    width: 80%;
    margin: 1em auto;
    border: 2px solid var(--grey);
  }

}

// Material Design shadows
//
.shadow-z-1 {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}