.schedule-page {
  .schedule-header-text {
    font-family: var(--font_main);
    text-align: center;
    margin: 20px;
  }

  .page-line {
    width: 80%;
    border: 2px solid var(--grey);
    margin: 1em auto;
  }

  .filter-bar {
    width: 80%;
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .division-button {
      padding: 5px;
    }
  }

  .schedule-container {
    width: 80%;
    margin: 1em auto;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);

    .team-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;

      h6 {
        padding: 5px;
      }
    }

    .time-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      // padding-left: 20px;
      // padding-right: 20px;

      p {
        padding: 5px;
      }
    }
  }
}